<script>
    window.addEventListener('error', function (err) {
        var lineAndColumnInfo = err.colno ? ' line:' + err.lineno +', column:'+ err.colno : ' line:' + err.lineno;
        ga('send', 'event',
            'JavaScript Error',
            err.message, err.filename + lineAndColumnInfo + ' -> ' +  navigator.userAgent, 0 );
        });
	if (window.jQuery) {
        jQuery.error = function (message) {
          ga('send', 'event', 'jQuery Error', message, navigator.userAgent, 0 );
        }
	};
</script>
